
body{
    margin: 0!important;
    padding:0;
    background-image:
    url('../public/images/img_background.jpg') ;
  background-size: cover;
  /* position: static; */
  /* overflow: hidden; */
  /* position: fixed; */
  /* overflow: hidden; */
  overflow: hidden;
  overscroll-behavior: contain;

  height: 100%!important;
    }

    #maincontainer {
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
  }

    body > .mainwrapper {
      position: relative;

      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
    }

    .selected {
      font-weight: bold;
      color: red;
   }
   .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
      top: 45%;
      left: 45%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }